<h2>New booking</h2>

<%= render "form.html", changeset: @changeset,
                        action: Routes.booking_path(@conn, :create) %>

<span><%= link "Back", to: Routes.booking_path(@conn, :index) %></span>
